body {
    margin: 0;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#content {
    height: 100vh;
    background-image: url(../src/main-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: yellowgreen; */
}

header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    /* background-color: yellow; */
    font-size: 1.25rem;
}

.tab {
    margin: auto;
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.main-content-home, .main-content-contact {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-right: 15%;
    margin-left: 50%;
    background-color: rgb(251 235 137 / 70%);
    padding: 0.4rem;
    color: #50623b;
}

.main-content-contact > * {
    font-size: 1.4rem;
    display: inline-flex;
    width: min(250px);
    justify-content: space-between;
}

.main-content-menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    margin: 1rem;
    gap: 1rem;
}

.menu-item {
    display: grid;
    background-color: rgba(0,0,0,0.8);
    padding: 0.5rem;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.menu-item img {
    object-fit: fill;
}

.menu-item p{
    color: white;
    padding: 0.5rem;
}

.menu-item h1, h3{
    color: antiquewhite;
    padding: 1rem;
    display: inline;
    margin-block: 0;
}